<!DOCTYPE html>
<html lang="fr">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sheldon COOPER - Physicien surdoué et Geek qualifié</title>

    <!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    <!-- Fichiers CSS -->
    <link rel="stylesheet" href="style/reset.css">
    <!--[if lt IE 9]> 
	<link rel="stylesheet" href="css/cv.css" media="screen">
<![endif]-->
    <link rel="stylesheet" media="screen and (max-width:480px)" href="style/mobile.css">
    <link rel="stylesheet" media="screen and (min-width:481px)" href="style/cv.css">
    <link rel="stylesheet" media="print" href="style/print.css">
</head>

<body>

    <!-- Header -->
    <header role="banner">
        <div class="container_16">
            <select name="change" id="etu">
                
                <option>Ahmed MARZAQ</option>
                <option>Amir SAOUDI</option>
                <option>Celia CHERIFI</option>
                <option>Elouiza Hamla</option>
                <option>Fatima-Ezzahrae LKIFAR</option>
                <option>Ibrahima SENE</option>
                <option>Jihad Bensassi</option>
                <option >melissa HAMAOUI</option>
                <option>Mondir Jaatar</option>
                <option>Naima AFTAB</option>
                <option>NAIT MESSAOUD Aghilas</option>
                <option>neftaha abbad andaloussi</option>
                <option>Nestor Pegane</option>
                <option>nisrin mouggal</option>
                <option>NOUSSAIBA BOULILA</option>
                <option>Rikiel Marques</option>
                <option>Romann IMOUNGA</option>
                <option>Sam Karout</option>
                <option>Sofiane Hadjadj</option>
                <option>Thameur Abdellatif</option>
                <option>Tinhinane MESSAOUDI</option>
                <option>Vivien SUNDAR</option>
                <option>Yasmina Elaziz</option>
                <option>Yasmine Guessous</option>
                <option>youssef dahi</option>

            </select>
            <hgroup>
                <h1 id="etuNom">Veuillez choisir un nom </h1>
                <h2 id="spc"></h2>
            </hgroup>

            <figure>
                <img id="img" src="" alt="Sheldon COOPER">
            </figure>
        </div>
    </header>

    <!-- Contact -->
    <section class="contactform clearfix">
        <div class="container_16">
            <h3>Contactez-moi</h3>
            <p>Remplissez le formulaire ci-dessous afin de m'envoyer un message. Je vous répondrais dans les plus bref
                délai.
                <br><em>Tous les champs sont requis.</em></p>
            <form novalidate="novalidate" method="post" action="#" name="contact" class="grid_16">
                <p class="grid_10"><textarea name="message" placeholder="Votre message" class="required"></textarea></p>
                <p class="grid_6">
                    <input name="nom" placeholder="Nom - Prénom" class="required" type="text">
                    <input name="email" placeholder="Adresse email" class="required" type="email">
                    <input name="envoi" value="Envoyer le message" class="required" type="submit">
                    <span class="messageform"></span>
                </p>
            </form>
        </div>
    </section>

    <!-- Corps -->
    <section role="main" class="container_16 clearfix">
        <div class="grid_16">
            <!-- A propos -->
           

            <!-- Compétences -->
            <div class="grid_8 competences">
                <div style=" display: flex">
                    <h3>Compétences</h3>

                </div>

                <ul class="barres" id="CreateCompetance">
                    <li>test</li>
                </ul>
            </div>
        </div>

        <!-- Expériences -->
        

        <!-- Formations -->
        

        <!-- Loisirs -->
        <div class="grid_8 loisirs">
                
                        <div style=" display: flex">
                            <h3>Langues</h3>
        
                        </div>
        
                        <ul class="barres" id="CreateCompetanceLangue">
                            <li>test</li>
                        </ul>
                    
        </div>

        <!-- Contact -->
        <div class="grid_8 contact">
            <h3>Contact</h3>
            <p>Si mon profil vous intéresse, n'hésitez pas à me contacter :</p>
            <ul>
                   <li class="mail"><a href="mailto:mon.adresse@email.fr">mon.adresse@email.fr</a></li>
              
            </ul>
        </div>
    </section>

    <!-- Scripts JavaScript -->
    <script src="style/jquery-1.js"></script>
    <script src="style/validate.js"></script>
    <!--[if lt IE 9]>
<script src="scripts/placeholder.js"></script>
<![endif]-->
    <script src="style/plugins.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="datacv.js"></script>

</body>

</html>